body {
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;
}

/********************** CARTE IDENTITE DU PHOTOTGRAPHE****************************************/
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 40px;
  position: relative;
  top: 30px;
  left: 21px;
}

.photograph-header p {
  color: #901c1c;
  font-size: 35px;
  position: relative;
  top: 0px;
  left: 21px;
}

.photograph-header span {
  font-size: 25px;
  margin-top: -21px;
  position: relative;
  bottom: 165px;
  left: 21px;
}

.photograph-header button {
  position: relative;
  left: 260px;
  bottom: 228px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  position: relative;
  left: 405px;
  bottom: 118px;
}

/********************** FILTRES DE RECHERCHE****************************************/
.photograph-filter {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 80px;
  left: 30px;
}

.photograph-filter label {
  padding-right: 10px;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 225px;
  height: 40px;
  font-family: Arial;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #901c1c;
  border-top: #222 solid 1px;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: #ffffff;
}

.option:hover {
  background: #d3573c;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.select > input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.select > input:checked + label {
  order: 1;
  z-index: 2;
  background: #901c1c;
  border-top: none;
  position: relative;
}

.select > input:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.select > input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: "";
  background: #901c1c;
}

.languette {
  display: flex;
  width: 450px;
  height: 70px;
  border-radius: 5px;
  background-color: #db8876;
  font-weight: bold;
  font-size: 1.3em;
  position: fixed;
  top: 92%;
  right: 3%;
  z-index: 9;
}

.languette_vue {
  margin-left: 25px;
}

.languette span {
  position: relative;
  top: 23px;
  left: 10px;
  font-size: 1em;
  background-color: black;
  opacity: 1;
}
.languette_prix {
  margin-left: 40%;
}

/********************** SECTION PHOTOS****************************************/
.photograph-photos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photograph-photos article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photograph-photos article img {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
  object-position: 40% 13%;
}

video {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.photograph-photos article p {
  color: #901c1c;
  font-size: 18px;
  position: relative;
  right: 80px;
}

.photograph-photos article span {
  color: #901c1c;
  font-size: 18px;
  position: relative;
  bottom: 41px;
  left: 145px;
}

.photograph-photos .photograph_heart {
  width: 0;
  height: 0;
  position: relative;
  bottom: 0px;
  left: 21px;
}

.photograph-photos .photograph_heart span {
  position: absolute;
  font-size: 1.6em;
}

.far {
  color: #901c1c;
}
.fas {
  background-color: #901c1c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.fas:active {
  opacity: 1;
}

/********************** MODAL LIGHTBOX****************************************/
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.9);
  z-index: 10;
}

.lightbox__close {
  cursor: pointer;
  width: 50px;
  color: #901c1c;
  background: none;
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  opacity: 1;
}

.lightbox__next,
.lightbox__prev {
  background: none;
  width: 50px;
  border: none;
  position: fixed;
  top: 50%;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  opacity: 1;
  cursor: pointer;
  color: #901c1c;
  transform: rotate(180deg);
}

.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(360deg);
}

.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.lightbox__container img {
  height: 400px;
  width: 500px;
  margin-left: 0;
}


.lightbox__container p {
  color: #901c1c;
  font-size: 25px;
  position: relative;
  top: 240px;
  right: 450px;
}

/********************** MODAL DE MESSAGERIE****************************************/
#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.9);
  z-index: 15;
}
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  background-color: #d3573c;
}
.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
  top: 15px;
  margin: auto;
  height: max-content;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  width: 25px;
}

.modal header h2 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 18px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 111px;
  border: none;
  border-radius: 5px;
}

#contact_modal > div > form > button {
  width: 100px;
  height: 42px;
}

#contact_modal .error-error {
  color: darkred;
  font-size: 17px;
}

#contact_modal .error-validation {
  color: darkgreen;
  font-size: 17px;
}

#contact_modal .erreur-disappared {
  display: none;
}

/* responsive portable */

@media screen and (min-width: 320px) and (max-width: 767px) {
  /********************** CARTE IDENTITE DU PHOTOTGRAPHE****************************************/
  .photograph-header {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    height: 590px;
    margin: 25px 0px 0px 0px;
    width: 99%;
  }

  .photograph-header h2 {
    position: relative;
    top: 186px;
    left: 0px;
    font-size: 30px;
  }

  .photograph-header p {
    position: relative;
    top: 125px;
    left: 0px;
    font-size: 31px;
  }

  .photograph-header span {
    position: relative;
    left: 4px;
    bottom: -125px;
    font-size: 17px;
  }

  .photograph-header button {
    position: relative;
    left: 0px;
    bottom: -174px;
  }

  .photograph-header img {
    position: relative;
    left: 0px;
    bottom: 294px;
  }

  /********************** FILTRES DE RECHERCHE****************************************/
  .photograph-filter {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 80px;
    left: 30px;
    width: 80%;
  }
  /********************** SECTION PHOTOS****************************************/
  .photograph-photos {
    display: block;
    margin-top: 100px;
  }

  .photograph-photos article:last-child {
    padding-bottom: 50px;
  }

  .photograph-photos article img {
    height: 310px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    object-position: 40% 13%;
  }

  video {
    height: 310px;
    width: 100%;
    object-fit: cover;
  }
  .photograph-photos article p {
    font-size: 13px;
    position: relative;
  }

  .photograph-photos article span {
    color: #901c1c;
    font-size: 14px;
    position: relative;
    bottom: 30px;
    left: 35%;
  }
  .photograph-photos .photograph_heart {
    width: 0;
    height: 0;
    position: relative;
    bottom: 0px;
    left: 41%;
  }
  .photograph-photos .photograph_heart span {
    position: absolute;
    font-size: 1.2em;
  }
  .languette {
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    background-color: #db8876;
    font-weight: bold;
    font-size: 1em;
    position: fixed;
    top: 92%;
    right: 1%;
    z-index: 9;
  }
  .languette span {
    position: relative;
    top: 18px;
    left: 10px;
    font-size: 1em;
    background-color: black;
    opacity: 1;
  }
  /********************** MODAL LIGHTBOX****************************************/
  .lightbox__close {
    width: 27px;
  }
  .lightbox__next,
  .lightbox__prev {
    width: 25px;
  }
  .lightbox__container img {
    width: 81%;
    margin-left: 152px;
    height: 336px;
  }

  
  .lightbox__container p {
    color: #901c1c;
    font-size: 25px;
    position: relative;
    top: 8em;
    right: 9em;
    white-space: nowrap;
  }
  /********************** MODAL DE MESSAGERIE****************************************/
  .modal header {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -28%;
  }
  .modal header h2 {
    font-size: 17px;
    font-weight: normal;
    padding-right: 43%;
    text-align: unset;
    white-space: nowrap;
    margin-left: -22px;
  }
  .modal header img {
    cursor: pointer;
    width: 16px;
  }

  form {
    margin-top: -14px;
  }
  form label {
    color: #312e2e;
    font-size: 15px;
  }

  #contact_modal .error-error {
    font-size: 13px;
  }

  #contact_modal .error-validation {
    font-size: 13px;
  }
}
