@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  max-width: 1500px;
  margin: auto;
  overflow-x: hidden;;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

.photographer_section article p {
  color: #901c1c;
  font-size: 15px;
  margin-top: -30px;
}

.photographer_section article span {
  font-size: 12px;
  margin-top: -21px;
  line-height: 40px;
}

.photographer_section .prix {
  color: grey;
}

.photographer_section article a {
  text-decoration: none;
  color: inherit;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.photographer_section .photographer2 {
  margin-left: 40px;
}

.photographer_section .photographer3 {
  margin-left: 20px;
}

.photographer_section .photographer4 {
  margin-left: 40px;
}
.photographer_section .photographer5 {
  margin-left: 20px;
}

.photographer_section .photographer6 {
  margin-left: 25px;
}
